importFrom("stats", "printCoefmat", "qt", "quantile","na.omit", "var")
importFrom("utils", "combn")

export(
  bS,
  cKap,
  gAC,
  krA,
  sPi
)

S3method(print, rel)
S3method(summary, rel)